.inline-block {
  display: inline-block;
}

.glyphicon {
  margin-bottom: 10px;
  margin-right: 10px;
}

small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}

.user-profile-img {
  width: 80px;
  height: auto;
  max-height: 125px;
  cursor: pointer;
}

.user-new-avatar {
  display: none !important;
}

.left-sidebar-menu-list {
  padding: $padding-sides-20;
}

.suggestion-list {
  border: 1px solid #999;
}

.suggestion-list li {
  padding: 5px;
}

.suggestion-list li:hover {
  background-color: #2496cc;
  color: white;
  cursor: pointer;
}

/* Checklist */
.product-listing .panel-group .panel-heading .panel-title a {
  display: inline-flex;
  font-family: open sans;
  font-size: 14px;
  padding: 5px;
  width: 94%;
}

.product-listing .panel-default .panel-body a {
  color: #333;
  display: inline-flex;
  font-size: 14px;
  padding: 5px;
  text-align: left;
  width: 95%;
}

.product-listing .panel-group .panel-default .panel-body {
  background: #eaeaea none repeat scroll 0 0;
  padding: 5px 15px 5px 30px;
}

.product-listing .panel-group .panel-body .panel-body {
  background: #f5f5f5 none repeat scroll 0 0;
}

.product-listing .panel-default .panel-collapse .panel-body .checkbox {
  margin: 5px;
}

.product-listing .accordian-arrow {
  background: #27a542 none repeat scroll 0 0;
  color: #fff;
  height: 15px;
  margin-left: -5px;
  margin-right: 5px;
  padding: 1px 2px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  width: 14px;
  text-align: center;
}

.hideOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.product-listing .collapsed .accordian-arrow .fa-plus-square-o, .product-listing .accordian-arrow .fa-minus-square-o {
  display: block;
}

.product-listing .accordian-arrow .fa-plus-square-o, .product-listing .collapsed .accordian-arrow .fa-minus-square-o {
  display: none;
}

.nested-accordion .panel-group .panel-body li .panel .panel-heading {
  padding: 5px;
}

.nested-accordion .panel-body li .panel-group .panel-collapse .panel-body {
  padding: 5px 15px;
}

#field {
  margin-bottom: 20px;
}

/* End Checklist */

/* Progress animations */
.charts-container {
  display: none;
}

.flex-wrapper {
}

.single-chart {
  width: 33%;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

/* End progress animation */

.table-margined tr {
  border-bottom: 1px solid gray;
}

.table-margined td {
  padding: 15px
}

@media all and (min-width: 768px) {
  .additional_services_block {
    position: relative;
  }
  .additional_services_block .x_panel {
    position: absolute;
  }
}

/* Order status styles */
.registered {
  color: #E74C3C;
}

.assigned_to_tech_manager {
  color: #3498DB;
}

.assigned_to_optimizer {
  color: #9B59B6;
}

.completed {
  color: #1ABB9C;
}

/* Firechat */
#firechat-wrapper-container {
  background-color: white;
  width: 380px;
  position: fixed;
  right: 10px;
  bottom: 0;
  height: 500px;
  z-index: 9999999;
}

#firechat-wrapper-container.chat-hidden {
  bottom: -470px;
}

#firechat-header-minimize {
  width: 100%;
  height: 30px;
  background-color: #1f648b;
  color: white;
  cursor: pointer;
  text-align: right;
  padding: 7px 10px;
  position: relative;
  z-index: 999999999999;
}

#firechat .open > div.firechat-dropdown-menu {
  width: 222px;
}

#firechat .twothird.clipped, #firechat .fourfifth.clipped {
  width: 90%;
}

.user-online-status {
  width: 9px;
  height: 9px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: grey;
  display: none;
}

.user-online-status.is-online {
  background-color: #00dc00;
}

.user-name-lowercase {
  text-transform: lowercase;
}

/* End Firechat */

/*Jquery validation*/

label.error {
  color: red;
}

.dark-hr{
  margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 1px solid black;
}

.statistic-for-order {
  display: none;
}
.api-spinner {
  display: none;
  width: 100%;
  height: 150px;
  text-align: center;
}